fastapi
uvicorn
docling
openai
requests
streamlit
pandas
python-dotenv
selenium
scikit-learn
docling
boto3
sentence-transformers
numpy
pinecone
git+https://github.com/brandonstarxel/chunking_evaluation.git
chromadb
mistralai